body{
    padding: 0;
    margin: 0;
    background-color: aqua;
}


.container {
   display: grid;
   justify-content: center;
   align-content: center;
   height: 100vh;
   grid-template-columns: repeat(4, 100px);
   grid-template-rows: minmax(100px, auto) repeat(5, 100px);
   
}

.container button{
    font-size: 25px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    background-color: rgb(231, 103, 135);
    cursor: pointer;
}

.container button:hover{
    background-color: pink;
}


.outcome{
    grid-column: span 2;
}
.output-screen{
    grid-column: 1/ -1;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 20px;
    word-wrap: break-word;
    word-break: break-all;
}

.output-screen .current-num{
    color:rgb(231, 103, 135);
    font-size: 70px;
}

